
# generic
*.tmp
*.swp
*.pyc
*.pyo
*.bak
*.egg-info
*.EGG-INFO
.coverage
.settings

# setuptools
bin/
build/
dist/
setup.py

# buildout
buildout.in.cfg
.installed*.cfg
.cache
.cache/
eggs
eggs/
develop-eggs/
parts
parts/
build/
dist/
src/infi/hello/__version__.py
.achievements

# scm
.bzr/
.svn/
.hg/

src/infi/projector/__version__.py
.codeintel
*sublime*

tmp*
!tmp*py
buildout.in

src/cronorc/__version__.py
get-pip.py

data/
