body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f2f3f4;
}

body > footer {
  margin-top: auto;
  text-align: center;
  padding: 20px 0;
  opacity: 0.5;
}

.container {
  max-width: 1400px;
  margin-top: 80px;
}

h1, h2, h3 {
    margin-top: 0;
}

h1 > img {
    display: inline-block;
    height: 80px;
    vertical-align: bottom;
    border: none;
}

nav {
    padding-left: 60px;
    background: #333 url(/static/img/cronorc.png) 20px 5px no-repeat;
    background-size: 45px;
}

nav a, nav a:visited {
  color: #fff;
}

/* Forms */

.errorlist.nonfield {
    background: #f0cbc9;
    padding: 20px;
    border-bottom-left-radius: 25px 115px;
    border-bottom-right-radius: 155px 25px;
    border-top-left-radius: 15px 225px;
    border-top-right-radius: 25px 150px;
}