<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cronorc</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/papercss@1.6.1/dist/paper.min.css">
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="icon" type="image/png" href="/static/img/cronorc.png">
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/common.js"></script>
  {% block extra_head %}
  {% endblock %}
</head>
<body>

  {% block navbar %}
    <nav class="shadow shadow-small fixed">
      <div class="nav-brand">
        <h4><a href="/">Cronorc</a></h4>
      </div>
      <div class="collapsible">
        <input id="collapsible2" type="checkbox" name="collapsible2">
        <button>
          <label for="collapsible2">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </label>
        </button>
        <div class="collapsible-body">
          <ul class="inline">
            <li><a href="{% url 'home' %}">Jobs</a></li>
            <li><a href="{% url 'hosts' %}">Hosts</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
  {% endblock %}

  <div class="paper container">
    {% block content %}
    {% endblock %}
  </div>

  <footer>
      Icon made by <a href="https://www.flaticon.com/authors/darius-dan">Darius Dan</a>
  </footer>

</body>
</html>
