<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/papercss@1.6.1/dist/paper.min.css">
  <link rel="stylesheet" href="/static/css/base.css">
  <title>Cronorc</title>
</head>
<body>
  <div class="paper container">
    {% block content %}
    {% endblock %}
  </div>
  <footer>
      Icon made by <a href="https://www.flaticon.com/authors/darius-dan">Darius Dan</a>
  </footer>
</body>
</html>
