{% extends "base.html" %}

{% load humanize %}

{% block extra_head %}
    <style>
        #edit {
            position: absolute;
            top: 40px;
            right: 40px;
        }
    </style>
{% endblock %}

{% block content %}

    <h3>
        Job #{{ id }}
        on {{ job.hostname }} [{{ job.ip }}]
        <span class="badge {{ job.status|lower }}">{{ job.status }}</span>
    </h3>

    <a href="{% url 'edit_job' id %}" id="edit" class="paper-btn btn-small">Edit</a>

    <pre><code>{{ job.command }}</code></pre>

    <p>Period: {{ job.get_period_display }}</p>

    <h4>Recent Executions</h4>

    <div id="table-container">
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Result</th>
                    <th>Elapsed</th>
                </tr>
            </thead>
            <tbody>
                {% for e in executions %}
                    <tr>
                        <td>
                            {{ e.notification|date:"SHORT_DATETIME_FORMAT" }}
                            <span class="text-muted">({{ e.notification|timesince }} ago)</span>
                        </td>
                        {% if e.success %}
                            <td>OK</td>
                        {% else %}
                            <td class="text-danger">FAILED</td>
                        {% endif %}
                        <td>{{ e.elapsed|intcomma }}ms</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <br>

    <a href="#" id="load-more" class="paper-btn" {% if not has_more %}disabled{% endif %}>Load older entries</a>

    <script>
        // A rudimentary mechanism for reloading the table with more lines
        var n = {{ n }};
        $('#load-more').on('click', function(e) {
            e.preventDefault();
            var curr = $('tbody tr').length;
            n += 50;
            $('#table-container').load(`./?n=${n} table`, function() {
                console.log($('tbody tr').length, curr)
                if ($('tbody tr').length == curr) {
                    $('#load-more').attr('disabled', true);
                }
            });
        });
    </script>

{% endblock %}
